#btn {
    background:#ff0;
    padding:50px; border-radius:10px;
    border-radius:10px;
    font-size:2rem;
    transition:all 0.5s ease 1s;
    /* transition:all 1s, padding 0.5s; */
}
#btn:hover {
    background:#0ff;
    border-radius:20px;
    padding:100px;
}