@charset "utf-8";
* {
    box-sizing:border-box;
    margin:0; padding:0; list-style:none; text-decoration:none;
    color:#333;
}
body, html {background:#fff;}
/* ------------------------------------------- popup */
.popup {
    display:none;
    background:#fff;
    width:500px; height:300px;
    position:absolute; left:50%; top:50%;
    transform:translate(-50%, -50%);
    padding:10px; border:1px solid #aaa;
}
.popup h1 {
    font-size:1.2rem; margin-bottom:10px;
}
.popup h1::after {
    content:''; display:block; width:100%; height:1px;
    background:#1f24ff; margin-top:10px;
}
.popup p {line-height:1.5;}
.popup .close {
    background:#1f24ff; color:#fff;
    padding:10px; position:absolute; right:10px; bottom:10px;
}
/*  ----------------------------------------- header */
.h_bg {border-bottom:1px solid #aaa;}
.h_bg header {
    /* background:lightblue; */
    width:1200px; margin:0 auto; height:100px;
    display:flex; justify-content:space-between;
    align-items:center;
}
.h_bg header h1 {}
.h_bg header h1 a {}
.h_bg header h1 a img {}
.h_bg header nav {
    /* background:lightcoral; */
    margin-right:20px;
}
.h_bg header nav > ul {
    display:flex;
}
.h_bg header nav > ul > li {position:relative;}
.h_bg header nav > ul > li > a {
    display:block; width:150px; text-align:center;
    line-height:45px; font-size:1.2rem; font-weight:600;
}
/* 메인 메뉴 중 하나에 마우스를 올리면(mouse over) 하이라이트 되고, 벗어나면(mouse out) 하이라이트를 해제한다. */
.h_bg header nav > ul > li > a:hover {
    background:#1f24ff; color:#fff;
}
.h_bg header nav > ul > li .sub {
    background:#fff; z-index:999;
    position:absolute; width:100%; height:200px;
}
.h_bg header nav > ul > li > .sub li {text-align:center;}
.h_bg header nav > ul > li > .sub li a {
    line-height:40px; display:block; 
}

/* 서브 메뉴 중 하나에 마우스를 올리면(mouse over) 하이라이트 되고 벗어나면(mouse out) 하이라이트를 해제한다. */
.h_bg header nav > ul > li > .sub li a:hover  {background:#1f24ff; color:#fff;}
/* ------------------------------------------------- main  */
main {width:1200px; margin:0 auto;}
/* slide */
main #slide_wrap {width:1200px; height:300px; overflow:hidden;}
/* 이미지가 좌에서 우 또는 우에서 좌로 이동하면서 전환되어야 한다.*/
main #slide_wrap #slide_container {
    display:flex; width:max-content;
    /* 이동하면서 전환되어야한다. */
    transition:transform 0.5s;
}
main #slide_wrap #slide_container .slide {}
main #slide_wrap #slide_container .slide img {}
main #slide_wrap #slide_container .slide1 {}
main #slide_wrap #slide_container .slide2 {}
main #slide_wrap #slide_container .slide3 {}
/* container */
main .container {
    display:flex; height:200px;
}
main .container .tab_wrap {
    width:400px; height:200px;
}
main .container .tab_wrap .title {
    display:flex;;
}
main .container .tab_wrap .title .active {background:#1f24ff; color:#fff;}
main .container .tab_wrap .title h2 {
    /* background:lightgreen; */
    text-align:center; 
    font-size:1rem; line-height:40px; width:100px;
}
main .container .tab_wrap .contents {
    /* background:lightgray; */
    height:160px; padding:10px;
}
main .container .tab_wrap .contents .post {}
main .container .tab_wrap .contents .post a {line-height:2;}
main .container .tab_wrap .contents .gallery {
    display:flex; justify-content:space-between;
    display:none;
}
main .container .tab_wrap .contents .gallery a {margin:5px;}
main .container .tab_wrap .contents .gallery a img {width:100%;}
main .container .bnr {}
main .container .bnr img {}
main .container .link {}
main .container .link img {}
/* footer */
.f_bg {
    border-top:1px solid #aaa;
    height:100px;
}
.f_bg footer {
    /* background:lightgreen; */
    width:1200px; height:100px; margin:0 auto;
    display:flex; justify-content:start;
    align-items:center;
}
.f_bg footer .f_logo {}
.f_bg footer .f_logo img {}
.f_bg footer .right {
    width:calc(100% - 200px);
    text-align:center;}
.f_bg footer .right .top {
    /* background:lightgrey; */
    line-height:50px;
}
.f_bg footer .right .top a {}
.f_bg footer .right p {
    line-height:50px;
    /* background:lightcyan; */
}